[submodule "eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad
[submodule "glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
