[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw
